<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Puppy Pal</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />
	<link rel="stylesheet" href="./css/puppy_style.css" type="text/css" />
</head>

<body>
    {{{ body }}}
	<script src="./js/shelter.js"></script>
	<script src="./js/puppies.js"></script>
	<script src="./js/search.js"></script>
</body>

</html>