<div class="uk-container-small" id="slideshowContainer">
    <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle uk-background-top-center"
        style="background-image: url(/img/banner-image-revised.png);">
        <div class="uk-position-top">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <a href="/" class="uk-icon-button uk-position-top-left" uk-icon="home" id="homeButton"></a>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div id="uk-grid-small uk-child-width-1-6@s uk-flex-center uk-text-center">
        <div class="uk-card uk-card-default uk-card-body" id="cardOne"></div>
    </div>

    <button class="backButton uk-button uk-button-default" aria-hidden="false" onclick="location.href='../puppies';">Go back</button>

    <footer class="uk-text-muted">
        Copyright 2018 |
        <a href="/shelter" class="uk-text-muted goToShelter">Shelter? Click here</a>
    </footer>
</div>