<div class="uk-container uk-container-small">
<div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle uk-background-top-center"
    style="background-image: url(/img/banner-image-revised.png);">
</div>

    <div class="header">
        <h1 class="puppy">Welcome to puppy pals! </h1>
    </div>
    <div class="paragraphs">
        <p> Puppy Pals is designed to allow you to adopt a dog from a nearby shelter. We have included images of each
            currently available for you to adopt.
        </p>

        <p>Click on the arrows to choose a dog of your liking! Each post will include information such as name, age, breed,
            gender, and any special information that needs to be shared with the potential new owner. When you have 
            selected one of your liking, click on the button below the image, and it will redirect to a page containing the dog's location information.
        </p>

        <p> Good luck and we wish you the best with your new furever friend!</p>
    </div>
    <br>
    <a href="../puppies"><button class="uk-button uk-button-primary uk-button-large" id="button1">Start Here</button></a>
    <br>
    <br>
    <footer class="footer uk-text-muted">
        © Johnnycake Cobblers, 2018 |
        <a href="/shelter" class = "uk-text-muted goToShelter">Shelter? Click here</a> 

    </footer>
</div>