<div class="uk-container uk-container-small">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar id="shelterNavBar">
        <img src="img/paw_print.jpeg" id="paw" alt="">
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                    <a href="/">Home</a>
                </li>
                <li class="uk-active">
                    <a href="/puppies" id="gallery">Gallery</a>
                </li>
                <li class="uk-active">
                    <a href="/search" id="search">Search</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr>
    <div id="alertGoesHere"></div>
    <p class="uk-text-muted">Complete the form down below to add a dog into our catalog</p>

    <form class="uk-form-horizontal uk-margin-small" id="shelForm">

        <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-horizontal-text">
                <span uk-icon="icon: search"></span>Name</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="name" type="text" placeholder="Name">

            </div>
        </div>

        <br>

        <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-horizontal-text">
                <span uk-icon="icon: users"></span>Breed</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="breed" type="text" placeholder="Breed">
            </div>
        </div>
        <br>

        <div class="uk-margin">
            <div class="uk-form-label">
                <span uk-icon="icon: user"></span>Gender</div>
            <div class="uk-form-controls">
                <input class="uk-input" id="gender" type="text" placeholder="Male/Female">
            </div>
        </div>

        <div class="uk-width-1-2@s">
            <label class="uk-form-label" for="form-horizontal-text">
                <span uk-icon="icon: hashtag"></span>Age</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="age" type="text" placeholder="Age In Years">
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-form-label">
                <span uk-icon="icon: location"></span>Location</div>
            <div class="uk-form-controls">
                <input class="uk-input" id="location" type="text" placeholder="Shelter Name">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">
                <span uk-icon="icon: image"></span>Image URL</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="image" type="text" placeholder="Enter Image URL Here">
            </div>
        </div>

        <div class="uk-margin">
            <textarea class="uk-textarea" id="info" rows="4" placeholder="Enter any additional information. (Medical needs, characteristics, etc...)"></textarea>
        </div>

        <button class=" uk-button uk-button-secondary" id="shelSubmit">Submit</button>
    </form>
    <br>

<footer>
    <a href="https://github.com/Team-Johnnycake-Cobblers" class="uk-icon-button" uk-icon="github"></a> |
    <a href="/api/puppies" class="uk-text-muted getApiList">API Puppies List</a>
</footer>
</div>
